* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.6px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: rgb(57, 62, 81);
  margin-bottom: 16px;
}

header h1 {
  color: white;
  font-size: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 20px;
  text-align: center;
  padding: 16px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin: 10px auto;
  font-size: 18px;
}

input {
  margin-left: 8px;
  padding: 4px;
}

button {
  width: 48px;
  height: 32px;
}

a {
  color: rgb(85, 106, 170);
  margin-top: 20px;
  text-decoration: none;
  transition: background 0.3s;
}

a:hover {
  color: rgb(89, 96, 125);
  text-decoration: none;
}

hr {
  margin: 24px auto;
  height: 1px;
  border: none;
  background-color: rgb(237, 237, 237);
}

p {
  margin-bottom: 8px;
  font-size: 16px;
  text-align: center;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  border-radius: 4px;
}

.message-content {
  flex-grow: 1;
  margin-right: 20px;
}

.delete-btn {
  width: 24px;
  height: 24px;
  background: #868484;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s;
}

.delete-btn:hover {
  background: #9a6666;
}
