<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>會員頁</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <header>
    <h1>歡迎光臨，這是會員頁</h1>
  </header>
  <div class="content">
    <h2>{{name }}，歡迎登入系統</h2>
    <a href="/signout"><b>登出系統</b></a>
  </div>
  <hr />
  <form action="/createMessage" method="post">
    <h2>快來留言吧</h2>
    <label>內容<input type="text" name="content" placeholder="輸入留言內容" required></label>
    <button type="submit">送出</button>
  </form>
  <hr />
  <div class="message">
    {% for message in messages %}
    <div class="message-item">
      <div class="message-content">
        <strong>{{ message.name }}：</strong>{{ message.content }}
      </div>
      {% if message.member_id == USER_ID %}
      <form action="/deleteMessage/{{ message.id }}" method="post" onsubmit="return confirmDelete()">
        <button type="submit" class="delete-btn">X</button>
      </form>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <script>
    function confirmDelete() {
      const result = confirm("確定要刪除這則留言嗎？");
      if (!result) {
        event.preventDefault(); 
      }
      return result;
    }
  </script>
</body>

</html>
